rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /personas/{userId} {
      allow read, create, update:
        if request.auth != null
        && request.auth.uid == userId;
    }
  }
}
